*{
    font-family: "Poppins", sans-serif;
}
body{
    overflow: hidden;
}

.box{
    width: 900px;
    height: 550px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    /* justify-content: space-evenly; */
    background-color: #343D4B;
}
.box img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    height: 230px;
    border-radius: 25px;
}
input{
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-radius: 35px;
    background-color: #ffffff;
    font-size: 16px;
    transition: background-color 0.7s ease;
    &:focus{    
        background-color: #bfbfbf;
    }
    cursor: pointer;
}

.temp, .wth, .wd, .date, .place{
    position: absolute;
    /* color: white; */
}
.temp{
    left: 250px;
    top: 160px;
    font-size: 40px;
}
.wth{
    left: 250px;
    top: 220px;
    font-size: 18px;
}
.wd{
    right: 250px;
    top: 170px;
    font-size: 28px;
}
.date{
    right: 250px;
    top: 220px;
    font-size: 18px;
}
.long{
    display: flex;
    width: 60%;
    border-radius: 20px;
    margin-top: 30px;
    justify-content: space-around;
    background-color: #222831;
}
h2{
    color: white;
    margin-top: 35px;
    line-height: 5px;
}
.long p{
    color: grey;
}
.place{
    right: 250px;
    top: 50px;
    font-size: 18px;
}
.locate{
    /* position: absolute; */
    width: 30px;
    /* top: 10px; */
}


/* Adaptive */

@media (max-width: 500px) {
    *{
        font-family: "Poppins", sans-serif;
    }
    
    .box{
        width: 380px;
        /* overflow: hidden; */
        height: 550px;
        position: relative;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        /* justify-content: space-evenly; */
        background-color: #343D4B;
    }
    .box img {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 95%;
        height: 230px;
        border-radius: 25px;
    }
    input{
        width: 300px;
        padding: 10px;
        margin-bottom: 10px;
        border: none;
        outline: none;
        border-radius: 35px;
        background-color: #ffffff;
        font-size: 16px;
        transition: background-color 0.7s ease;
        &:focus{    
            background-color: #bfbfbf;
        }
        cursor: pointer;
    }
    
    .temp, .wth, .wd, .date, .place{
        position: absolute;
        /* color: white; */
    }
    .temp{
        left: 300px;
        top: 160px;
        font-size: 40px;
    }
    .wth{
        left: 300px;
        top: 220px;
        font-size: 18px;
    }
    .wd{
        right: 260px;
        top: 170px;
        font-size: 28px;
    }
    .date{
        right: 250px;
        top: 220px;
        font-size: 18px;
    }
    .long{
        display: flex;
        width: 95%;
        border-radius: 20px;
        margin-top: 30px;
        justify-content: space-around;
        background-color: #222831;
    }
    h2{
        color: white;
        margin-top: 35px;
        line-height: 5px;
    }
    .long p{
        color: grey;
    }
    .place{
        right: 50px;
        top: 20px;
        font-size: 18px;
    }
    .locate{
        /* position: absolute; */
        width: 30px;
        /* top: 10px; */
    }
}
